.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "dis dis dis dis"
    "AC C div times"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal"
    ;
}

.padButton {
    display: felx;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

.padButton:hover{
    border: 1px solid white;
    color: yellow;
}

.dis {
    grid-area: dis;
    background-color: darkblue;
    text-align: right;
    font-size: 20px;
}

.dis input {
    width: 90%;
    background-color: rgb(21, 69, 84);
    text-align: right;
    padding: 5px 20px;
    color: white;
}

input::placeholder{
    color: white;
}

.zero {
    grid-area: zero;
}

.equal {
    grid-area: equal;
}

.darkgrey {
    background-color: #333;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.total {
    padding: 5px 20px;
    color: white;
}

